html{
    background-image: url(1498237525136685113.gif);
    
}
body{
    text-align: center
}
.container{
    margin: 24px;
    padding: 24px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #0C162D;
    width: 600px;
    height: 800px;
    display: inline-block
}
.regwelcome{
    font-size: 40px;
    margin-bottom: 45px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    color: #a3bfef;
}
label{
    font-size: 34px;
    color: #00CFC8;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}
.Registr{
    width: 300px;
    height: 25px;
    border-radius: 100px;
    background-color: rgba(16, 16, 16, 0.28);
    border: 1px solid blue;
    color: white;
    font-size: 24px;
}

.check{
    margin-top: 40px;
    width: 200px;
    height: 40px;
    border-radius: 150px;
    background-color: rgba(247, 247, 247, 0);
    color: white;
    border: 1px solid gray;
    font-size: 20px
    
}
span{
    color: red;
    font-size: 25px;
}
.calc{
    padding: 24px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #0C162D;
    width: 300px;
    height: 250px;
    display: inline-block;
}
.rub{
    font-size: 14px;
    color: #00CFC8;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}
.Clc{
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: rgba(16, 16, 16, 0.28);
    border: 1px solid blue;
    color: white;
}
.in{
    width: 200px;
    height: 30px;
    background-color: rgba(16, 16, 16, 0.28);
    border: 1px solid blue;
    color: white;
    font-size: 25px
    
}
#num1{
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
}
#num2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px
}
#result{
    height: 30px;
    background-color: rgba(16, 16, 16, 0.28);
    border: 1px solid blue;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    min-width: 10px;
}
.count{
    margin-left: 12px;
    margin-top: 24px;
    width: 162px;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(247, 247, 247, 0);
    color: white;
    border: 1px solid gray;
    font-size: 20px
}
.convert{
    padding: 24px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #0C162D;
    width: 300px;
    height: 200px;
    display: inline-block;
}
.bmi{
    margin-top: px;
    padding: 24px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #0C162D;
    width: 300px;
    height: 300px;
    display: inline-block;
}
.bmicalc{
    font-size: 30px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    color: #a3bfef;
}
.bmiother{
    width: 250px;
    height: 30px;
    background-color: rgba(16, 16, 16, 0.28);
    border: 1px solid blue;
    color: white;
    font-size: 25px
}
.bmires{
    margin-left: 12px;
    margin-top: 15px;
    width: 162px;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(247, 247, 247, 0);
    color: white;
    border: 1px solid gray;
    font-size: 20px
}
#results{
    height: 30px;
    background-color: rgba(16, 16, 16, 0.28);
    border: 1px solid blue;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    min-width: 10px;
}